{% block content %}
    <div style="display: flex; flex-wrap: wrap;">
        {% for category in categoriesPath %}
            <p>/</p>
            {% if category.leaf == "true" %}
                <a href="{% url 'category' category_id=category.id filtered='none' %}">{{ category.name }}</a>
            {% else %}
                <a href="{% url 'categories' child_category_id=category.id %}">{{ category.name }}</a>
            {% endif %}
            <p>&nbsp</p>
        {% endfor %}
    </div>
{% endblock %}