{% block content %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center">
        <div style="display: flex; flex-direction: row; align-items: center">
            <p>Brand</p>
            &nbsp;
            <select id="brand">
                <option>All</option>
                <option>Acer</option>
                <option>ASUS</option>
                <option>Cyberpowerpc</option>
                <option>HP</option>
                <option>Lenovo</option>
                <option>MSI</option>
            </select>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
            <p>Price</p>
            &nbsp;
            <input id="price-min" type="text" name="quantity" maxlength="6" size="4" placeholder="min">
            &nbsp;
            <input id="price-max" type="text" name="quantity" maxlength="6" size="4" placeholder="max">
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
            <p>Ram (GB)</p>
            &nbsp;
            <input id="ram-min" type="text" name="quantity" maxlength="2" size="2" placeholder="min">
            &nbsp;
            <input id="ram-max" type="text" name="quantity" maxlength="2" size="2" placeholder="max">
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
            <p>Screen size (Inches)</p>
            &nbsp;
            <input id="screen-size-min" type="text" name="quantity" maxlength="2" size="2" placeholder="min">
            &nbsp;
            <input id="screen-size-max" type="text" name="quantity" maxlength="2" size="2" placeholder="max">
        </div>
        <div style="display: flex; flex-direction: row; align-items: center">
            <p>Storage (GB)</p>
            &nbsp;
            <input id="storage-min" type="text" name="quantity" maxlength="4" size="2" placeholder="min">
            &nbsp;
            <input id="storage-max" type="text" name="quantity" maxlength="4" size="2" placeholder="max">
        </div>
        <button class="common-button" onclick="filter()">Filter</button>
    </div>
    <p id="filter-warning" class="warning"></p>
{% endblock %}
{% block script %}
    <script>
        brand = document.getElementById("brand");
        priceMin = document.getElementById("price-min");
        priceMax = document.getElementById("price-max");
        ramMin = document.getElementById("ram-min");
        ramMax = document.getElementById("ram-max");
        screenSizeMin = document.getElementById("screen-size-min");
        screenSizeMax = document.getElementById("screen-size-max");
        storageMin = document.getElementById("storage-min");
        storageMax = document.getElementById("storage-max");

        function filter () {
            brandValue = brand.value;
            priceMinValue = parseInt(priceMin.value, 10);
            priceMaxValue = parseInt(priceMax.value, 10);
            ramMinValue = parseInt(ramMin.value, 10);
            ramMaxValue = parseInt(ramMax.value, 10);
            screenSizeMinValue = parseInt(screenSizeMin.value, 10);
            screenSizeMaxValue = parseInt(screenSizeMax.value, 10);
            storageMinValue = parseInt(storageMin.value, 10);
            storageMaxValue = parseInt(storageMax.value, 10);

            if (!isNaN(priceMinValue) && !isNaN(priceMaxValue)) {
                if (priceMinValue > priceMaxValue) {
                    showWarning("filter-warning", "Wrong field", "error");
                    return;
                }
            }

            if (!isNaN(ramMinValue) && !isNaN(ramMaxValue)) {
                if (ramMinValue > ramMaxValue) {
                    showWarning("filter-warning", "Wrong field", "error");
                    return;
                }
            }

            if (!isNaN(screenSizeMinValue) && !isNaN(screenSizeMaxValue)) {
                if (screenSizeMinValue > screenSizeMaxValue) {
                    showWarning("filter-warning", "Wrong field", "error");
                    return;
                }
            }

            if (!isNaN(storageMinValue) && !isNaN(storageMaxValue)) {
                if (storageMinValue > storageMaxValue) {
                    showWarning("filter-warning", "Wrong field", "error");
                    return;
                }
            }

            let filtered = "";

            if (brandValue != "All") {
                filtered += "desktopfeature__brand=" + "'" + brandValue + "'" + ","
            }

            if (!isNaN(priceMinValue)) {
                filtered += "price__gte=" + priceMinValue + ","
            }

            if (!isNaN(priceMaxValue)) {
                filtered += "price__lte=" + priceMaxValue + ","
            }

            if (!isNaN(ramMinValue)) {
                filtered += "desktopfeature__ram__gte=" + ramMinValue + ","
            }

            if (!isNaN(ramMaxValue)) {
                filtered += "desktopfeature__ram__lte=" + ramMaxValue + ","
            }

            if (!isNaN(screenSizeMinValue)) {
                filtered += "desktopfeature__screenSize__gte=" + screenSizeMinValue + ","
            }

            if (!isNaN(screenSizeMaxValue)) {
                filtered += "desktopfeature__screenSize__lte=" + screenSizeMaxValue + ","
            }

            if (!isNaN(storageMinValue)) {
                filtered += "desktopfeature__storage__gte=" + storageMinValue + ","
            }

            if (!isNaN(storageMaxValue)) {
                filtered += "desktopfeature__storage__lte=" + storageMaxValue + ","
            }

            lastChar = filtered[filtered.length - 1];

            if (lastChar == ",") {
                filtered = filtered.slice(0, -1);
            }

            if (filtered == "") {
                location.href="/category/" + "{{ category.id }}" + "/none";
            } else {
                location.href="/category/" + "{{ category.id }}" + "/" + filtered;
            }
        }
    </script>
{% endblock %}